@media screen and (max-width: 1200px) {
  .banner-content h1 {
    font-size: 48px;
    font-weight: bold;
  }

  .service-card {
    padding: 70px 20px;
  }
}

@media screen and (max-width: 1024px) {
  .primary-button,
  .secondary-button {
    padding: 12px 24px;
  }

  .button-box {
    justify-content: center;
  }

  #banner {
    flex-direction: column-reverse;
  }

  .banner-content {
    width: 100%;
  }

  .banner-image {
    width: 100%;
  }

  .service-card-container {
    flex-direction: column;
    align-items: center;
  }

  .story-card {
    flex-direction: column;
    gap: 32px;
  }

  .story-content {
    width: 100%;
  }

  .story-image {
    width: 100%;
  }
}

@media screen and (max-width: 640px) {
  .banner-content {
    text-align: center;
  }

  .banner-content h1 {
    font-size: 36px;
  }

  .heading-content h2 {
    font-size: 32px;
  }

  .story-content {
    text-align: center;
  }

  .country-card-container {
    flex-direction: column;
  }

  .country-card-container h2 {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 16px;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #3e3e3e;
    text-align: center;
  }

  .footer-container p {
    font-size: 12px;
  }
  .social-icon-div {
    gap: 0;
  }
}
